body {
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    min-width: 700px;
    min-height: 800px;
}

.color-display {
    font-weight: bold;
    display: inline-block;
    padding: 5px 15px;
    border: 1px gray solid;
    border-radius: 2px;
    margin: 0 3px;
}

a.navbar-brand .logo {
    border: 1px black solid;
    /*border-radius: 3px;*/
}
.navbar ul.nav li.active a{
    border-top: 3px #9c27b0 solid;
    border-radius: 0;
}